---
import Project from "./Project.astro";
const projects = [
  {
    repo: "breadeggs/breadeggs.github.io",
    desc: "My blog",
    icon: "i-twemoji-glowing-star",
  },
  {
    repo: "unenter/qlink",
    desc: "A project to quickly find links in QQ",
    icon: "i-twemoji-hammer-and-wrench",
  },
];
---

<h3 class="flex items-center mt-8 mb-4 font-semibold text-2xl">
  <span flex-1 class="outfit">💻Projects</span>
  <a
    href="https://github.com/unenter"
    target="_blank"
    color-white
    class="op-50 ml-2 hover:op-100 transition-opacity cursor-pointer"
  >
    <div class="m-2 i-ri-arrow-right-up-line"></div>
  </a>
</h3>
<div class="grid gap-4 grid-cols-1 sm:grid-cols-2">
  {
    projects.map((project) => {
      return <Project {...project} />;
    })
  }
</div>
