---
---

<h3 text-2xl>⚡Skills</h3>
<img
  w-full
  src="https://skillicons.dev/icons?i=astro,bash,cloudflare,codepen,css,discord,docker,electron,git,github,gmail,html,js,linux,md,mysql,netlify,nextjs,powershell,py,replit,supabase,twitter,ts,vim,vercel,vscode,vue,wordpress"
  alt=""
/>
